MetaTrader5
pandas
numpy


# 📊 Chaikin Volatility Bot (MetaTrader 5 + Python)

A simple algorithmic trading bot that calculates **Chaikin Volatility (CV)** in real-time.

![Chaikin Volatility Chart](https://github.com/Sigmaaaaaaa/Chaikin-Volatility/blob/3e69e798bc26d7084362194ddc6726d858ab91a3/f7f08616-068f-40fd-8614-18f28fa29354.jpeg?raw=true)

